<h1> Задачи </h1>
<% @project.each do |project_name|%>
<h3><%= project_name.title %></h3>
<ul>    
<% project_name.todos.each do |project_todo| %>
<li>
<p><%=  project_todo.text %></p>
</li>
<% end %>
</ul>
<% end %>
<h1> Новая задача </h1>
<%= form_with scope: :todo, url: todos_path, local: true do |form| %>
<p>
<% form.label :text %><br>
<%= form.text_field :title, placeholder: "Название задачи" %>
</p>
<%= form.select( :project_id, options_from_collection_for_select(Project.all, :id, :title)) %>
<p>
<a href="/project">ОТМЕНА</a>
<%= link_to form.submit  %>
</p>
<% end %>



